// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    /*width: 800px;*/

}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

@backgroundGrey: grey;
@backgroundlightgrey: lightgrey;
@fontcolor: lightgrey;
@fontsize: 1.7rem;
@fontsizeh3: 0.9em;

html,
body {
    height: 100%;
    background-color: @backgroundGrey;

}

/*.skill-type {
    text-align: left;
    font-size: 0.8em;
}*/

.main-point1 {
    text-align: left;
    font-size: @fontsize;
    /*height: 10vh;*/
}

.main-point2 {
    text-align: left;
    font-size: @fontsize;
    /*width: 50%;
    height: 10vh;*/
}

.skill-type {
    text-align: left;
    font-size: 0.9em;

}

.style {
    list-style: circle;
    font-size: 1rem;
    margin: 1% 10%;
}

.row {
    width: 30%;
    padding: 10px 12px;
}

.content-table {
    width: 90%;
    margin-left: 8%;
    margin-top: 2%;

    thead {
        font-size: @fontsizeh3;
        background-color: #009879;

        tr {
            font-size: @fontsizeh3;

            .row ();
        }

    }

    tbody {
        font-size: 1rem;
        background-color: @backgroundlightgrey
        .row ();
    }
}

header {
    margin: 2% 5%;

    nav {
        margin: 0 0 0 50%;
        display: flex;
        justify-content: space-around;
    }

    nav a {
        text-decoration: none;
        margin: 10px;
        color: @fontcolor;
    }
}


.container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    background-color: lightgrey;
    border-radius: 20px;

    .container1 div {
        width: 50%;
        margin: 2% 0
    }

    .intro h2.name {
        font-size: 2.5rem;
    }

    .intro h2.tittle {
        font-size: 1.4rem;
    }

    img {
        width: 50%;
        border-radius: 30px;
    }
}

.main-content {
    /*display: flex;*/
    margin: 10px;
    padding: 10px;

    .skills {
        display: flex;
        /*flex-flow: column;*/
        .main-point1();

        .language-skills {
            width: 33%;
            margin-top: 5%;
            .skill-type ();
        }

        .computer-skills {
            .language-skills ();
        }
    }

    .work-experience {
        /*display: flex;
        flex-flow: column;*/
        .main-point2();
        .content-table ();


    }
}